<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FakeScope</title>
    <link rel="stylesheet" href="/static/Style.css">
</head>
<body>

<div class="container">

    <h1>📰 FakeScope</h1>
    <h2>AI-Powered News Analysis</h2>

    <p>Can you trust what you read?</p>

    <textarea id="newsInput" placeholder="Paste full news article here..."></textarea>

    <br><br>

    <button onclick="analyzeNews()">Analyze Article →</button>

    <h2 id="result"></h2>

</div>

<script src="/static/Main.js"></script>

</body>
</html>